#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS) )
#set( $entityLC = $fn.toLowerCase($entity.name))
#set( $nameLC = ${entity.name.toLowerCase()} )
#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $halfSizeFields = ($fn.size($dataFields) - 8 )/2)
#set( $countField = 0)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>		
	<div class="title-head clearfix">
	   <div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i>
				<span th:text="#{common.title.edit}">Tieu de trang</span>
			</h3>
	   </div>
	   <div class="col-sm-3 col-xs-5 icon-head">
	        <div class="pull-right">
				 <a>
				 	<i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
				 </a>
				 <a>
				 	<i class="fa fa-plus-circle icon-head-red" id = "add" ></i>
				 </a>
	        </div>
	   </div>
	</div>	
	<form class="form-horizontal u-for-page-top j-form-validate" id="form-edit" th:action="@{/}" th:object="${DOLLAR}{${uncapitalizedEntityName}Dto}" method="post" role="form">
		<th:block th:include="views/commons/message-alert.html :: content(${DOLLAR}{messageList})"/>
		<div class="bg-content clearfix">
			<div class="header-box">
				<h2 class="title-box" th:text="#{${nameLC}.edit.title}" th:if="${DOLLAR}{${uncapitalizedEntityName}Dto.id != null}">Update</h2>
				<h2 class="title-box" th:text="#{${nameLC}.create.title}" th:if="${DOLLAR}{${uncapitalizedEntityName}Dto.id == null}">Create</h2>
			</div>			                           
            <input type="hidden" th:field="*{id}" />
			
				<!-- TAB DEFINE START -->
			<div>
				<ul class="nav nav-tabs tab-customize">
					<li id="main" class="active"><a data-toggle="tab" href="#main0"><span th:text="#{common.title.edit}"></span></a></li>
					<li id="import-excel"><a data-toggle="tab" href="#import-excel0"><span>Import excel</span></a></li>
				</ul>
			</div>
			<!-- TAB DEFINE END -->

			<div class="tab-content clearfix bg-content p-10">
				<div id="main0" class="tab-pane fade in active">
					<th:block th:include="views/${nameLC}/tab-${nameLC}-edit.html" />
				</div>

				<div id="import-excel0" class="tab-pane fade">
					<th:block th:include="views/${nameLC}/tab-${nameLC}-import.html" />
				</div>

			</div>
		</div>
	</form>	
	<input type="hidden" id="url" name="url" th:value="${DOLLAR}{${uncapitalizedEntityName}Dto.url}"/>
	<script type="text/javascript" th:src="@{/static/js/${nameLC}/${nameLC}-edit.js}"></script>
	</body>
</html>