#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS) )
#set( $entityLC = $fn.toLowerCase($entity.name))
#set( $nameLC = ${entity.name.toLowerCase()} )
#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $halfSizeFields = ($fn.size($dataFields) - 8 )/2)
#set( $countField = 0)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}" />

<body>
    <!-- BREADCRUMB -->
	<div class="list-breadcrumb">
		<div class="row">
			<div class="col-9">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb align-items-center">
						<li class="breadcrumb-item">
	                        <span class="title-active-breadcrumb">
	                            <span th:text="#{common.title.detail}">Tieu de trang</span>
	                        </span>
						</li>
						<li class="breadcrumb-item">
							<a>
								<i class="fa fa-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<div id="breadcrumb"></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-3">
				<div class="pull-right gr-action-top" >
					<ul>
						<li>
							<a id="linkList" class="circle-action">
								<i class="fa fa-arrow-left"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- END BREADCRUMB -->

	<!-- TAB DEFINE START -->
	<div class="gr-tab">
		<ul class="nav nav-tabs">
	        <li class="nav-item">
	            <a id="fill" data-toggle="tab" role="tab" aria-controls="fill" aria-selected="false" href="#tab-1" class="nav-link active show">
	                <span  th:text="#{${entityLC}.title}">Edit</span>
	            </a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" id="import" data-toggle="tab" role="tab" aria-controls="import" aria-selected="false" href="#tab-2" >
	                <span>Import excel</span>
	            </a>
	        </li>
	    </ul>

	   	<div class="tab-content">
			<div id="tab-1" class="tab-pane fade show active">
				<th:block th:include="views/${nameLC}/tab-${nameLC}-edit.html" />
			</div>
	
			<div id="tab-2" class="tab-pane fade">
				<th:block th:include="views/${nameLC}/tab-${nameLC}-import.html" />
			</div>
	
	
		</div>
	</div>
    <input type="hidden" id="url" name="url" th:value="${DOLLAR}{${uncapitalizedEntityName}Dto.url}" />
    <script type="text/javascript" th:src="@{/static/js/${nameLC}/${nameLC}-edit.js}"></script>
</body>

</html>