#set( $nameLC = ${entity.name.toLowerCase()} )

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}"/>
<script type="text/javascript" th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>


<body>
	<!-- BREADCRUMB -->
    <div class="list-breadcrumb">
        <div class="row">
            <div class="col-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb align-items-center">
                        <li class="breadcrumb-item"><span class="title-active-breadcrumb"> <span
								th:text="#{${nameLC}.title}">Tiêu đề trang</span>
                            </span>
                        </li>
                        <li class="breadcrumb-item">
                            <a> <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <div id="breadcrumb"></div>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="pull-right gr-action-top" th:if="${#authorization.expression('hasAuthority(@roleConstant.ROLE_AUTHED +'':Edit'')')}">
                    <ul>
                        <li>
                            <a class="circle-action"> <i class="fa fa-plus" id="add" title="Add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCRUMB -->

	<!-- MESSAGE -->
 	<th:block th:include="views/commons/message-alert.html :: content(${DOLLAR}{messageList})"/>
	<!-- END MESSAGE -->

	<!-- END HTML TABLE -->

    <!-- TAB DEFINE START -->
    <div class="gr-tab">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="fill" data-toggle="tab" role="tab" aria-controls="fill" aria-selected="false" href="#tab-1" class="nav-link active show">
                    <span th:text="#{}">${nameLC}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="import" data-toggle="tab" role="tab" aria-controls="import" aria-selected="false" href="#tab-2" >
                    <span th:text="#{}">${nameLC}-History</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show active">
                <div class="bg-content clearfix">
                    <!-- FORM SEARCH -->
                    <th:block th:include="views/${nameLC}/${nameLC}-search.html :: content"/>
                    <!-- END FORM SEARCH -->

                    <!-- HTML TABLE -->
                    <div class="bg-content-tbl" id="tableList">
                        <th:block th:include="views/${nameLC}/${nameLC}-table.html :: content"/>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane fade">
                <div class="bg-content clearfix">
                    <!-- FORM SEARCH -->
                    <th:block th:include="views/${nameLC}/${nameLC}-hist-search.html :: content"/>
                    <!-- END FORM SEARCH -->

                    <!-- HTML TABLE -->
                    <div class="bg-content-tbl" id="tableListHist">
                        <th:block th:include="views/${nameLC}/${nameLC}-hist-table.html :: content"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TAB DEFINE END -->

</body>
</html>
