#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS) )
#set( $nameLC = ${entity.name.toLowerCase()} )
#set( $countField = 1)
#set( $sizeList = $fn.size($dataFields) - 8)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
    <form class="form-horizontal u-for-page-top j-formSearch" th:object="${DOLLAR}{searchDto}" method="POST" role="form" th:action="@{/}" id="formSearch">
	<th:block th:include="views/commons/message-alert.html :: content(${DOLLAR}{messageList}" />
	<!-- ALL -->
	<div class="bg-content clearfix">

		<!-- TITLE -->
		<div data-toggle="collapse" data-target="#search-box" class="header-box"> 
           	<h2 class="title-box" th:text="#{search.title}">Vung tim kiem</h2>
			<div class="pull-right">
          	 	<i class="fa fa-minus pull-right" aria-hidden="true"></i> 
        	</div>
        </div>
		<!-- END TITLE -->

		<!-- CONTENT -->
        <div class="collapse show" id="search-box">
            <div class="content-box">
			#foreach($field in $dataFields)
                 #if($field.formattedName(0) != 'deletedBy' && $field.formattedName(0) != 'deletedDate' && $field.formattedName(0) != 'createdBy'
                 && $field.formattedName(0) != 'createdDate' && $field.formattedName(0) != 'updatedDate' && $field.formattedName(0) != 'updatedBy'
                 && $field.formattedName(0) != 'deleteFlag' && $field.formattedName(0) != 'companyCode')
						
						<!-- EACH ROW -->
                        #if($countField <= 2)
                        <div class="row form-group col-12">
   								<!-- $field.formattedName(0) -->			
                                #if($field.fullType == 'java.util.Date')
								<div class="col-lg-6">
                                     <label class="col-md-2" th:text="#{${nameLC}.$field.formattedName(0)}">${field.label}</label>
                                     <div class="col-md-4">
                                     	<div class="input-group date">
                                     		<input class="form-control" th:field="*{$field.formattedName(0)}" />
                                     			<span class="input-group-addon fromDate">
                                     				<i class="fa fa-calendar"></i>
                                     			</span>
                                     	</div>
                                     </div>
								</div>
                                #else
								<div class="col-lg-6">
									<div class="einput-2">
                                		<input type="text" class="eff-input-2" th:field="*{$field.formattedName(0)}"/>	
										<span class="focus-border"></span>
                                 		<label th:text="#{${nameLC}.$field.formattedName(0)}">${field.label}</label>
                                   	</div>
								</div>
                                #end
								<!-- END $field.formattedName(0) -->
						</div>
						#else
						#set($countField = 1)
                        #end
						<!-- END EACH ROW -->
                 #set($countField = $countField  + 1)
                 #end
            #end

                        <!-- BUTTON -->
                        <div class="col-md-12 center">
                           <div class="box-btn-footer">
                                <a id="btnClear" class="u-btn-grey u-btn-effect"> <i class="fa fa-eraser" aria-hidden="true"></i> <span th:text="#{clear.button}">Clear</span></a>
                                <a id="btnSearch" class="u-btn-common u-btn-effect"> <i class=" fa fa-search" aria-hidden="true"></i> <span th:text="#{search.button}">Search</span></a>
                           </div>
                        </div>
  		                <!-- END BUTTON -->


       		</div>
      </div>

	</div>
	<!-- END ALL -->
	</form>
    <script type="text/javascript" th:src="@{/static/js/${nameLC}/${nameLC}-search.js}"></script>
</body>
</html>
