#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS) )
#set( $entityLC = $fn.toLowerCase($entity.name))
#set( $nameLC = ${entity.name.toLowerCase()} )
#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $halfSizeFields = ($fn.size($dataFields) - 8 )/2)
#set( $countField = 0)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>	
<div class="bg-content clearfix">
	<form class="form-horizontal j-formSearch" id="fmUpload" method="POST" role="form" enctype="multipart/form-data">
		<div class="row">

			<div class="col-xs-12 col-sm-12 no-padding" style="margin-top: 10px;">
				<div class="form-group">
					<div class="col-xs-12 col-sm-12">
						<div class="col-sm-2">
							<label th:text="#{${entityLC}.import.excel}"></label>
						</div>
						<div class="col-sm-8">
							<input id="template-upload" type="file" name="files"
												accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="upload" />
						</div>
					</div>
				</div>
			</div>


			<div id="form-download-template" class="col-xs-12 col-sm-12">
				<div class="form-group">
					<div class="col-xs-12 col-sm-12 no-padding">
						<div class="col-sm-2">
							<label th:text="#{${entityLC}.file.import}">Template Import</label>
						</div>
						<div class="col-sm-8">
							<a th:href="@{${'/'+ $fn.toLowerCase($entity.name) + T(vn.com.unit.jcanary.constant.UrlConst).URL_DOWNLOAD_TEMPLATE_EXCEL}}"
								id="download-template-id"> Download Template</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="bg-content clearfix">
	<th:block th:include="views/${nameLC}/tab-${nameLC}-import-table.html" />
</div>
</body>
</html>