#set( $nameLC = ${entity.name.toLowerCase()} )

${DOLLAR}(function(){
    /* START XỬ LÝ INPUT CALENDAR */
    $('.datepickerd > input').datepicker({
    format : COMMON_DATE_PICKER_DATE_FORMAT,
    autoclose : true,
    keyboardNavigation : true,
    todayHighlight : true,
    orientation : 'bottom'
    });
    $('.datepickerd > input').attr("placeholder", DATE_FORMAT);

    // on click search
    $("#btnSearchHist").on('click', function(event) {
        onClickSearchHistory(this, event);
    });


    // datatable load
    $("#tableListHist").datatables({
    url : BASE_URL + '${nameLC}hist/ajaxHistory',
    type : 'POST',
    setData : setConditionSearchHistory
    });

    $("#btnExportHist").unbind('click').bind('click', function(){
        var linkExport = BASE_URL + "${nameLC}hist/exportHistory";
        doExportExcelWithToken(linkExport, "token", setConditionSearchHistory());
    });

});


/**
* on click button search
*/
function onClickSearchHistory(element, event) {
    setDataSearchHiddenHistory();
    ajaxSearch("${nameLC}hist/ajaxHistory", setConditionSearchHistory(), "tableListHist", element, event);
}

function  setConditionSearchHistory(){
    var condition = {};
    condition["modifiedDateFrom"] = $("#fieldModifiedDateFrom").val();
    condition["modifiedDateTo"] = $("#fieldModifiedDateTo").val();
    return condition;
}

function setDataSearchHiddenHistory() {
    $("#fieldModifiedDateFrom").val($("#modifiedDateFrom").val());
    $("#fieldModifiedDateTo").val($("#modifiedDateTo").val());
}

