#parse("/include/packages_variables.vm")
#parse("/include/init_var_entity.vm")
#parse("/include/java_header.vm")

#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $serviceName = "${entity.name}HistService"	)
#set( $dtoSearchName = "${entity.name}HistSearchDto"	)
#set( $serviceImplName = "${entity.name}HistServiceImpl"	)
#set( $repositoryName = "${entity.name}HistRepository"	)
#set( $uncapitalizedRepoName = $fn.uncapitalize($repositoryName) )

package ${target.javaPackageFromFolder($SRC)};

import java.util.ArrayList;
import java.util.List;

import vn.com.unit.jcanary.common.PageWrapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.modelmapper.ModelMapper;
import vn.com.unit.jcanary.config.SystemConfig;
import vn.com.unit.jcanary.utils.ExportExcelUtil;

import ${ROOT_PKG}.dto.TransferDataImportParam;
import ${ROOT_PKG}.constant.ExcelConst;
import vn.com.unit.jcce.dto.ImportParamsForStoreDto;


//--- Service 
import ${servicePackage}.${serviceName};
//-- DTO search
import ${dtoPackage}.${dtoSearchName};
//-- Repository
import ${entityRepository}.${repositoryName};

//-- Dto
import ${entityPackage}.${entity.name}Hist;
/**
 * Spring MVC ServiceImpl for '${entity.name}Hist' management.
 */

@Service
@Transactional(readOnly = true, rollbackFor = Exception.class)
public class ${serviceImplName} implements ${serviceName}{

	@Autowired
    private ${repositoryName} ${uncapitalizedRepoName};
    
    @Autowired
    private SystemConfig systemConfig;


	@Override
	public PageWrapper<${entity.name}Hist> searchHistory(int page, ${dtoSearchName} searchDto, int pageSize)
	{
		PageWrapper<${entity.name}Hist> pageWrapper = new PageWrapper<>();
		pageSize = this.systemConfig.settingPageSizeList(pageSize, pageWrapper, page);
		List<${entity.name}Hist> dtoList = this.${uncapitalizedRepoName}.findAll${entity.name}HistBySearchDto(searchDto);
		pageWrapper.setDataAndCount(this.return${entity.name}HistDtoPagination(dtoList,page-1,pageSize),dtoList.size());
		return pageWrapper;
	}

	/* LẤY DANH SÁCH ${entity.name}HistDto THEO PHÂN TRANG */
	private List<${entity.name}Hist> return${entity.name}HistDtoPagination(List<${entity.name}Hist> dtoList,int page,int pageSize)
	{
		List<${entity.name}Hist> newList = new ArrayList<>();
			int indexFrom = page * pageSize;
			int indexTo   = page * pageSize + pageSize;
			while (true)
			{
				if (indexFrom == indexTo)
					{
					break;
					}
				if (indexFrom == dtoList.size())
				{
				break;
				}
				newList.add(dtoList.get(indexFrom));
				indexFrom ++;
			}
			return  newList;
	}


}
