#parse("/include/packages_variables.vm")
#parse("/include/init_var_entity.vm")
#parse("/include/java_header.vm")

#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $serviceName = "${entity.name}HistService"	)
#set( $dtoSearchName = "${entity.name}HistSearchDto"	)
#set( $serviceImplName = "${entity.name}HistServiceImpl"	)
#set( $repositoryName = "${entity.name}HistRepository"	)
#set( $uncapitalizedRepoName = $fn.uncapitalize($repositoryName) )

package ${target.javaPackageFromFolder($SRC)};

import java.util.ArrayList;
import java.util.List;

import vn.com.unit.jcanary.common.PageWrapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.modelmapper.ModelMapper;
import vn.com.unit.jcanary.config.SystemConfig;
import vn.com.unit.jcanary.utils.ExportExcelUtil;

import ${ROOT_PKG}.dto.TransferDataImportParam;
import ${ROOT_PKG}.constant.ExcelConst;
import vn.com.unit.jcce.dto.ImportParamsForStoreDto;


//--- Service 
import ${servicePackage}.${serviceName};
//-- DTO search
import ${dtoPackage}.${dtoSearchName};
//-- Repository
import ${entityRepository}.${repositoryName};

//-- Dto
import ${entityPackage}.${entity.name}Hist;
/**
 * Spring MVC ServiceImpl for '${entity.name}Hist' management.
 */

@Service
@Transactional(readOnly = true, rollbackFor = Exception.class)
public class ${serviceImplName} implements ${serviceName}{

	@Autowired
    private ${repositoryName} ${uncapitalizedRepoName};
    
    @Autowired
    private SystemConfig systemConfig;

	@Override
	public PageWrapper<${entity.name}Hist> searchHistory(int page, ${dtoSearchName} searchDto, int pageSize)
	{
		PageWrapper<${entity.name}Hist> pageWrapper = new PageWrapper<>();
		int sizeOfPage = systemConfig.settingPageSizeList(pageSize,pageWrapper ,page);
		if (null == searchDto)
		{
			searchDto = new ${dtoSearchName}();
		}
		int count = ${uncapitalizedRepoName}.count${entity.name}HistByCondition(searchDto);
		List<${entity.name}Hist> result = new ArrayList<${entity.name}Hist>();
		if (count > 0) {
			int currentPage = pageWrapper.getCurrentPage();
			int startIndex = (currentPage - 1) * sizeOfPage;
			result = this.${uncapitalizedRepoName}.findAll${entity.name}HistBySearchDto(startIndex, sizeOfPage, searchDto);
		}
		pageWrapper.setDataAndCount(result, count);
		return pageWrapper;
	}

}
