#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
select count(*)
from ${entity.databaseTable}_IMPORT
WHERE
1=1
/*IF ids != NULL*/
 or( id in /*ids*/() and status =1 and IS_ERROR  > 0)
/*END*/
