#parse("/include/packages_variables.vm")
#parse("/include/init_var_entity.vm")
#parse("/include/java_header.vm")

#set( $repositoryName = "${entity.name}HistRepository" )
#set( $dtoSearchName = "${entity.name}HistSearchDto" )
#set( $entityHistDto = "${entity.name}HistDto" )
package ${target.javaPackageFromFolder($SRC)};

import java.util.List;
import org.springframework.data.mirage.repository.MirageRepository;
import org.springframework.data.mirage.repository.query.Modifying;
import org.springframework.data.repository.query.Param;

//-- DTO search
import ${dtoPackage}.${dtoSearchName};
//-- Dto
import  ${entityPackage}.${entity.name}Hist;

public interface ${repositoryName} extends MirageRepository<${entity.name}Hist, Long>{

    public int count${entity.name}HistByCondition( @Param("searchDto")${dtoSearchName} searchDto);

    public List<${entity.name}Hist> findAll${entity.name}HistBySearchDto (@Param("offset") int offset,
                                                                          @Param("sizeOfPage") int sizeOfPage,
                                                                          @Param("searchDto") ${dtoSearchName} searchDto);

}
